<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bird Recognition</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/scripts.js" defer></script>
    <script src="/static/js/birdData.js"></script>
</head>
<body>
    <div class="container">
        <h1>Bird Recognition</h1>
        <div class="drop-zone" id="drop-zone">
            <p><img src="static\images\upload-icon.jpg" alt="Upload Icon" width="50"></p>
            <p>Drag and Drop Image Here</p>
            <p>or</p>
            <input type="file" id="file-input" accept=".png, .jpg, .jpeg">
        </div>        
        <button id="upload-btn">Upload & Predict</button>
        
        <div id="result-section">
            <h3 id="prediction-result"></h3>
            <img id="uploaded-image" src="#" alt="Uploaded Image Preview" hidden>
        </div>
        
    </div>
</body>
</html>
